# Core LangChain Libraries
langchain
langchain-groq
langchain-huggingface
langchain-community

# Environment Management
python-dotenv

# HuggingFace for Embeddings
huggingface-hub

# Image Processing
pillow
opencv-python-headless
pi-heif

# PDF and Document Processing
pytesseract
unstructured
unstructured-pytesseract
unstructured-inference
chromadb==0.3.29

# SQLite3 for vector store compatibility
pysqlite3-binary

# Streamlit for Web UI
streamlit
