streamlit
python-dotenv
langchain-groq
langchain-huggingface
langchain-community
chromadb
huggingface-hub
pillow
opencv-python-headless
langchain
unstructured
unstructured-inference
pysqlite3_wheels-0.5.0-cp310-cp310-win_amd64
